@import './utils/variebls';
@import './utils/visually-hidden';

@import './base/base';
@import './base/section';
@import './base/container';

@import './components/mobil-menu';
@import './components/subtitle';
@import './components/backdrop';
@import './components/modal-window';

@import './layout/header';
@import './layout/hero';
@import './layout/about-us';
@import './layout/our-activity';
@import './layout/team';
@import './layout/cooperation';
@import './layout/footer';
@import './layout/portfolio';