@media screen and (max-width: 767px) {
    .portfolio-img {
        width: 450px;
        height: 294px;
    }

    .portfolio-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

.description-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}

.button {
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color-dark);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-right: 4px;
    transition: background-color var(--transition-dur-and-funk), color var(--transition-dur-and-funk), box-shadow 250ms var(--transition-dur-and-funk);

    &:hover,
    &:focus {
        background-color: var(--primary-color);
        color: var(--secondary-color-light);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.top-button {
    background: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color-light);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-right: 4px;
}

.list-btn {
    margin-bottom: 15px;
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--transition-dur-and-funk);

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-item-overley {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--secondary-color-light);
    padding: 63px 24px;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-funk);

    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translate(0, 0);
    }
}

.portfolio-container {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.name-users-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--secondary-color-dark);
}

.name-direction-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .portfolio-img {
        width: 354px;
        height: 294px;
    }

    .list-btn {
        margin-bottom: 0;
    }

    .portfolio-item {
        margin-bottom: 0; 
    }

    .description-btn {
        justify-content: center;
    }
}

@media screen and (min-width:1200px) {
    .portfolio-img {
        width: 370px;
        height: 294px;
    }
}