@media screen and (max-width: 767px) {
    .team-image {
        width: 450px;
        height: 460px;
    }

    .team-people:not(:last-child) {
        margin-bottom: 30px;
    }
    
}

.team-container {
    background-color: var(--secondary-color-light);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}

.team-people {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team {
    background: #F5F4FA;
}

.name-people {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color-dark);
    margin-bottom: 10px;
}

.profession-people {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-icon-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-funk);

    &:hover,
    &:focus {
        background-color: var(--primary-color);
    }
}

.contact-icon-network {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--transition-dur-and-funk);

    .contact-icon-name:hover &,
    .contact-icon-name:focus & {
        fill: var(--secondary-color-light);
    }
}

@media screen and (min-width: 768px) {
    .about-team {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    
    }

    .team-image {
        width: 354px;
        height: 374px;
    }
}

@media screen and (min-width: 1200px) {
    .team-image {
        width: 270px;
        height: 260px;
    }
}